---
interface Props {
  ratio?: "1-1" | "2-1" | "1-2";
}
const { ratio = "1-1" } = Astro.props;
const cls =
  ratio === "2-1"
    ? "md:grid-cols-[2fr_1fr]"
    : ratio === "1-2"
      ? "md:grid-cols-[1fr_2fr]"
      : "md:grid-cols-2";
---

<div class:list={["grid gap-6 md:gap-12 items-start", cls]}>
  <slot />
</div>
